<div>
    <div class="flex justify-start gap-4 mb-6">
      <div>
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <button nz-button nzType="default" (click)="addUser()">Add User</button>
    </div>
    
    <hr>
  
    <nz-table
          nzShowSizeChanger
          [nzData]="users"
          [nzFrontPagination]="false"
          [nzTotal]="total"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          [nzPageSizeOptions]="pageSizeOptions"
          (nzQueryParams)="onQueryParamsChange($event)"
        >
          <thead>
            <tr>
              <th nzColumnKey="title">First Name</th>
              <th nzColumnKey="expirationDate">Email</th>
              <th nzColumnKey="priority">Wa Phone</th>
              <th ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of users">
              <td>{{ data.firstName }}</td>
              <td>{{ data.email }}</td>
              <td>{{ data.waBotPhone }}</td>
              <td>
                <div>
                  <ng-container>
                    <button nz-button nz-dropdown [nzDropdownMenu]="menu" >...</button>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                      <ul nz-menu>
                        <li nz-menu-item>Edit</li>
                        <li nz-menu-item>View</li>
                        <li nz-menu-item>Dowload</li>
                      </ul>
                    </nz-dropdown-menu>
                  </ng-container>
                </div>
              </td>
            </tr>
          </tbody>
    </nz-table>
  </div>